

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.vini{
  margin-left: 500px;
  margin-top: 110px;
}

.vini1{

background-color:rgb(36, 41, 47);
}

.butt{
  background-color:rgb(36, 41, 47);
  border: none;
  color: white !important;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
}

.cursor{
  cursor: pointer;
}

.repobutton{
margin-top: 30px !important;

}

.butt1{
  background-color:rgb(36, 41, 47);
  border: none;
  color: white !important;
  text-decoration: none;
  font-size: large;
  cursor: pointer;
  margin-left: 1200px;

}

.line{
  height: 2px;
  width: 1000px;
  background-color: #e5eff5;
}

.inputlen{
  width: 500px !important;
}

body {
    font-family: var(--font-family);
}     

.codebox{
  margin-right: 20px;
  margin-bottom: 50px!important;
}

.createbutton{
  /* margin-right: 00px !important; */
  width: 150px;
  margin-right: 400px !important;
}

.dialogbx{
  display: flex;
  height: 50px;
  width: 250px;
}

.cards{
  height: 200px;
  width: 700px;
  border: 1px solid grey;
  margin-top: 40px;
  text-align: center;
  cursor: pointer;
  background-color:rgb(36, 41, 47)!important;
  color: #e5eff5 !important;
}

.rg{
  width: 100vw;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.imgg{
  width: 200px !important;
  height: 199px;
  margin-right: 100px;

}

.chec{
  display: flex !important;
  /* flex-direction: row; */
}

.saverepotextbox{
  background-color: black !important;
  color: white !important;

}

.reponame{
  /* background-color: black !important;
  color: white !important; */
  width: 740px !important;


}
.newcomit{
  background-color: black !important;
  color: white !important;
  width: 740px !important;



}

/* .oldcomit{
  background-color: black !important;
  color: white !important;
  width: 740px !important;


} */
.savebut{
  width: 100px;
  margin-top: 100px;
  margin-left: 280px !important;
}

.deletebx{
  display: flex;
  justify-content:space-between;
}
.dangerbutt{
  height: 30px;
  margin-top: 20px !important;
  
}

.putcenter{
  text-align: center;
}

.point{
  cursor: pointer;
}

.set{
  text-align: center;
}
.editcode{
  color: red;
  font-weight: bold;
  font-size: large;
}

.color1{
  color: white;
  font-weight: bold;
}

Button.dangerbutt:hover{
  background-color: red !important;
  color: white !important;
}

Button.repobutton:hover{
  background-color:green !important;
  color: white !important;


}

Button.createbutton:hover{
  background-color:green !important;
  color: white !important;


}

Button.submitbut:hover{
  background-color:green !important;
  color: white !important;


}

.owndby{
  text-decoration: underline;
}